@page "/"
@using Entities.Models;
@using MauiBlazorAppUI.Services;
@inject IBookService bookService;

<h5>Book List!</h5>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (index, prod) in bookList.Select((prod,i)=>(i+1,prod)))
        {
            <tr>
                <td>@index</td>
                <td>@prod.Title</td>
                <td>@prod.Price</td>
            </tr>
        }
    </tbody>
</table>







@code{
    private List<Book> bookList = new List<Book>();

    protected override async Task OnInitializedAsync()
    {
        await GetAllBooks();
    }
    private async Task GetAllBooks()
    {
        bookList = await bookService.GetAllBooks();
    }
}




